extends layout

block content
  .row
    .col-12
      h1= Register 
      small &nbsp;

      // Login Form
      form(action="/login", method="POST", class="login-form")
        label(for="username") Username
        input(type="text", name="username", id="username", required)

        label(for="Email") Email
        input(type="text", name="Email", id="Email", required)
        
        label(for="password") Password
        input(type="password", name="password", id="password", required)
        
        a(href="/", class="button-link") Register